---
const personalImageAlt = "Daniel Castillp";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
	<div
		class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
	>
		<p>
			Mi nombre es Daniel Castillo Tamayo, licenciado en <strong>Ingeniería Multimedia</strong> apasionado por la tecnología.
		</p>

		<p>
			Inicié mi trayectoria en la ingeniería gracias a mi padre, quien a los 10 años me introdujo en el fascinante mundo de la electrónica.
			Estos primeros pasos me permitieron desarrollar <strong>habilidades técnicas que me han acompañado desde entonces</strong>.
		</p>

		<p>
			Actualmente, me dedico al desarrollo y mantenimiento de aplicaciones web para el gobierno francés, donde
			<strong> contribuyo a crear soluciones innovadoras y eficientes </strong>.
		</p>

		<p>
			Además, en mis proyectos personales he tenido la oportunidad de colaborar con Youtubers como AmpeterBy7 y MateoZ, lo que me ha permitido
			<strong>explorar nuevas tecnologías y seguir creciendo como profesional</strong>.
		</p>
	</div>

	<img
		width="200"
		height="200"
		src="/me.png"
		alt={personalImageAlt}
		class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
		style="object-position: 50% 50%"
	/>
</article>
