---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
	{
		date: "Octubre 2021 - Actualmente",
		title: "Instructor de cursos en prácticas",
		company: "CapGemini S.A.",
		description: "Mejora y desarrollo de proyectos Angular para los ministerios franceses de sanidad y trabajo.",
		// link: "",
	},
	{
		date: "Enero 2020 - Marzo 2020",
		title: "Instructor de cursos en prácticas",
		company: "NeoLand",
		description: "Impartición de un curso de JavaScript ES6 a seis empleados de Telefónica S.L.",
	},
	{
		date: "Julio 2019 - Agosto 2019",
		title: "Desarrollador Full Stack en prácticas",
		company: "Conwork S.L.",
		description: "Responsable del mantenimiento y actualización de una plataforma PHP para empresas de transporte de mercancías.",
	},
];
---

<ol class="relative mt-16">
	{
		EXPERIENCIE.map((experiencie) => (
			<li class="">
				<ExperienceItem {...experiencie} />
			</li>
		))
	}
</ol>
