---
const personalImageAlt = "Daniel Castillo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
	<div class="flex gap-4 mb-4">
		<img class="rounded-full shadow-lg size-16" src="/photo.png" alt={personalImageAlt} />
		<a
			href="https://www.linkedin.com/in/daniel-castillo-tamayo/"
			target="_blank"
			rel="noopener"
			class="flex items-center transition md:justify-center md:hover:scale-105"
		>
			<Badge>Disponible para trabajar</Badge>
		</a>
	</div>
	<h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hey, soy Daniel Castillo Tamayo</h1>
	<p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
		+3 años de experiencia. <strong>Ingeniero de Software especializado en el desarrollo Frontend</strong>, con experiencia en entornos impulsados
		por el gobierno, así como en pequeños proyectos de startups, entregando código de calidad en Angular, siguiendo los estándares web actuales.
	</p>
	<nav class="flex flex-wrap gap-4 mt-8">
		<SocialPill href="mailto:soy.daniel.castillo.tamayo@gmail.com">
			<MailIcon class="size-4" />
			Contáctame
		</SocialPill>
		<SocialPill href="https://www.linkedin.com/in/daniel-castillo-tamayo/">
			<LinkedInIcon class="size-4" />
			LinkedIn
		</SocialPill>
	</nav>
</div>
